:root {
    --customize--primary-color:#6527BE;
    --customize--secondary-color:#9681EB;
    --customize--calltoaction-color: #45CFDD;
    --navbarbrand--font-weight: 900;
    --navbaritem--font-weight: 300;
    --navbarbrand--font-size: 1.5rem;
    --linear-background-color: linear-gradient(to bottom, var(--body-color), #FFFFFF);
    --body-color: #A7EDE7;
    --standard--height: 100vh;

  }

  /* start of general modification */
* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
    
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    background: #765C3D;
}

.nav-item a{
    color: #F2D2AE !important;
    font-size: 18px;
}

.navbar-brand img {

max-width: 48.632px;
min-height: 44px;
}

.section--1 {
    position: relative;
}

.section--1::before{
    content:"";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.59);
}

.section--1__content {
    position: absolute;
    top: 15%;
    left: 10%;
   
}

.section--1__content h1,
.section--1__content p {
    color: #FFF;
    min-height: 124px;
}

.section--1__content h1 {
    font-size: 64px;
    font-weight: 600;
}

.section--1__content p {
    display: flex;
    align-items: center; 
    font-size: 24px;
}


 h4,
 p {
    color: #765C3D;
}

h4 {
    font-weight: 600;
}



.section--1 button,
.section--3 button {
    padding: 12px 32px !important;
    border-radius: 999px;
    background: #B59066;
    border: none;
    color: #FFF;
}

.section--2 button {
    padding: 5px 0px !important;
    margin: 0 2px !important;
}

.section--3{
    background: #FFF2E4;
}

label{
    color: #B59066;
    font-weight: 600;
    font-size: 20px;
}

input,textarea {
    border: 1px solid #B59066 !important;
    background: #FFF !important;
    color: #765C3D !important;
    font-size: 24px !important;
    font-weight: 600 !important;
}

textarea {
    resize: none;
}
.img-form {
    position: relative;
   
}
.img-form::before{
    content:"";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.59);
}